body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

body {
  padding-top: 60px;
}

/* Header */
.header {
  background-color: cadetblue;
  color: darkblue;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1001;
  box-sizing: border-box;
  height: 60px;
}

.menu-toggle {
  cursor: pointer;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
}

.line {
  width: 100%;
  height: 3px;
  background-color: black;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hamburger.open .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #16aeae;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}

.menu.open {
  display: block;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin: 10px 0;
}

.menu ul li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.menu ul li a:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Main Container for Login and Register Pages */
.main-container {
  margin-top: 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Form Styles */
.form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.form-group {
  margin-bottom: 15px;
  margin-right: 20px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group .btn-primary {
  margin-left: 10px;
}

.btn-primary, .btn-success {
  width: 100%;
  padding: 10px;
  font-size: 1.1em;
  text-align: center;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

.btn-primary:hover, .btn-success:hover {
  opacity: 0.9;
}

.btn-info {
  flex: 1 1 100%;
}

/* Alert Messages */
.alert {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-warning {
  background-color: #df7d6e;
  color: #031f2d;
}

/* Dashboard Styles */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tasks-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  padding-bottom: 100px;
  margin-top: 90px;
}

.heading {
  position: fixed;
  top: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: white;
  z-index: 1000;
}

.heading h2 {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.heading .btn-primary {
  width: 20%;
  margin-left: auto;
  margin-right: 10%;
  margin-bottom: 10px;
}

.tasks-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.tasks-table th, .tasks-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.tasks-table th {
  background-color: #ba7bdc;
}

.table-row.completed {
  background-color: #f0f0f0;
  color: #a0a0a0;
}

.table-row.completed td button {
  opacity: 0.7;
}

.tasks-table th:nth-child(1),
.tasks-table td:nth-child(1) {
  width: 40px;
  text-align: center;
}

.tasks-table .btn-warning,
.tasks-table .btn-danger {
  width: 50px;
  padding: 10px;
  font-size: 1.1em;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 2px;
  flex: 1;
}

.tasks-table .btn-danger {
  background-color: #ff0000;
  color: white;
}

.tasks-table .btn-warning {
  background-color: #ffe100;
  color: white;
}

.tasks-table td:last-child {
  display: flex;
  gap: 5px;
  justify-content: flex-start;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.modal-content span {
  float: right;
  cursor: pointer;
}

.form-task-dashboard {
  display: flex;
  flex-direction: column;

  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.form-group-task-dashboard {
  margin-bottom: 15px;

  margin-right: 20px;
}

.form-group-task-dashboard label {
  margin-bottom: 5px;
}

.form-group-task-dashboard input, .form-group-task-dashboard textarea, .form-group-task-dashboard select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group-task-dashboard .btn-primary {
  margin-left: 10px;
}

/* No Tasks Message */
.no-tasks-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 20px;
  margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .main-container {
    margin-top: 20px;
  }

  .form {
    width: 90%;
  }

  .tasks-container {
    margin-top: 120px;
  }

  .heading {
    top: 60px;
    padding: 10px;
  }

  .tasks-table th, .tasks-table td {
    padding: 8px;
  }

  .modal-content {
    width: 90%;
  }
}